/* css Reset */
* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Rufina', serif;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --theme-color: #39CABB;
}

/* scroll bar css start */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* scroll bar css end */

/* contact btn */

.contact_btn {
    border-radius: 6px;
    background: var(--theme-color);
    padding: 8px 30px;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    margin-left: 1rem;
}

.book_btn {
    margin-top: 4rem;
    border-radius: 46.5px;
    background: #FFF;
    padding: 10px 10px;
    width: 55%;
    text-align: center;
    cursor: pointer;
}

.book_btn a {
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}

.book_btn_for_service_page {
    border-radius: 46.5px;
    background: #FFF;
    padding: 10px 10px;
    width: 40%;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.book_btn_for_service_page a {
    font-size: 1.5em;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}

.dent_btn {
    margin-top: 1rem;
    border-radius: 46.5px;
    background: var(--theme-color);
    padding: 10px 10px;
    width: 70%;
    text-align: center;
    transition: 0.5s;
}

.dent_btn:hover {
    background: #39cabbce;
}

.dent_btn a {
    font-size: 1.5em;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}

/* btn end  */

/* =======================header section ===========================================  */
/* top header start */
.top-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_time,
.header_location {
    color: #fff;
    font-size: 1em;
}

/* top header end  */

/* main header start */
.nav_bg {
    background-color: #fff;
}

.header_lgo {
    width: 56%;
}

.navBarLinks a {
    font-size: 1em;
    font-weight: 600;
    color: #000;
}

/* main header end */
/* =======================header section ends ===========================================  */


/* ======================= hero section start ===========================================  */
.hero_section {
    background: url(../img/hero-bg.png), #039d8dba;
    background-position: center;
    background-size: cover;
}

/* left box */

.left_box h2 {
    font-size: 5rem;
    color: #fff;
    font-family: Rufina;
}

.left_box h2 span {
    font-size: 5rem;
    color: #4A6F85;
    font-family: Rufina;
}

.book_btn {
    margin-top: 4rem;
    border-radius: 46.5px;
    background: #FFF;
    padding: 10px 10px;
    width: 55%;
    text-align: center;
}

.book_btn a {
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}


.hero_section .owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    display: none;
}

.hero_section .owl-theme .owl-dots,
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: none;
}


/* ======================= hero section end ===========================================  */




/* ======================= specification section start ===========================================  */
.specs_container {
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.achieve {
    background-color: #fff;
    border-radius: 19px;
    padding: 2rem 0rem;
    margin: 0rem;

}

.achieve .abox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.achieve .border {
    border: none !important;
    border-right: 3px solid #039d8d !important;
}

.achieve .abox p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    color: #039d8d;
    font-size: 20px;
    margin: 0;
}

.abox h2 {
    color: #448C7F;
    text-align: center;
    font-family: Titillium Web;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 157.1%;
    margin: 0;
}

/* ======================= specification section end ===========================================  */



/* ======================= about us and also service section inside this section section start ===========================================  */

.about_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.about_heading h2 {
    color: #448C7F;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.about_para p {
    color: #161616;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-transform: capitalize;
}

.know_more a {
    border-radius: 10px;
    background: #39CABB;
    color: #fff;
    padding: 10px 60px;
    font-size: 1.3rem;
    font-weight: 600;
}


.know_more a:hover {
    border-radius: 10px;
    background: #39cabbd7;
    color: #fff;
}

.extra_padding {
    padding-bottom: 15rem;
}

/* services section start */
.service_heading h2 {
    color: #448C7F;
    text-align: center;
    font-size: 2.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.service_heading p {
    text-align: center;
    font-size: 1.2rem;
}

.service_bx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.services_content {
    position: absolute;
    left: 0;
    bottom: -49px;
    border-radius: 0px 78px 10px 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.s_heading h2 {
    color: #448C7F;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.s-Para p {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.view_service a {
    border-radius: 10px;
    background: #39CABB;
    color: #fff;
    padding: 10px 90px;
    font-size: 1.5rem;
    font-weight: 600;
}

.view_service a:hover {
    border-radius: 10px;
    background: #39cabbd7;
    color: #fff;
}

/* services section end */
/* ======================= about us and also service section inside this section section end ===========================================  */



/* ======================= plan section start ===========================================  */

.plan_section {
    position: relative;
    top: -108px;
    width: 100%;
    max-height: 650px;
}

.plan_section_2 {
    position: relative;
    top: 90px;
    width: 100%;
    max-height: 650px;
}


.plan_content {
    position: absolute;
    top: -47px;
    width: 100%;
    height: 100%;
}

.plan_selection {
    margin: 10px 0;
}

.select {
    position: relative;
    display: flex;
    overflow: hidden;
    background: #FFF;
    border-radius: 64px;
    padding: 20px 20px;
}


.select select {
    /* Reset Select */
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #448C7F;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    width: 100%;
}

.selection_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: end;
    margin-top: 3rem;
}

/* Custom Select wrapper */

.plan_heading h2 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 122.5%;
    text-transform: capitalize;
    margin-bottom: 2rem;
}


/* ======================= plan section end ===========================================  */


/* ======================= Testimonial or our clinic section start ===========================================  */

.testimonial_heading h2 {
    color: #448C7F;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    line-height: normal;
    text-transform: capitalize;
}

.customer-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 8px;
    margin: 2rem 5rem;
    padding: 2rem 3rem 3rem;
    border-radius: 5px;
    min-height: 430px;
}

.customer-text p {
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 12px;
}

.customer-text span {
    font-size: 25px;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #3d3d77;
}

.customer-slide .customer-text img {
    width: 51px;
    padding: 1rem 0rem;
}

.start_rating {
    padding: 10px 0;
}

.customer-slide .owl-carousel .owl-nav button.owl-prev {
    display: none;
}

.customer-slide .owl-carousel .owl-nav button.owl-next {
    display: none;
}

.customer-slide .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 6px;
    margin: 5px 7px;
    background: #D8D8D8;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.customer-slide .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #39CABB;
}


/* ======================= Testimonial or our clinic section end ===========================================  */

/* ======================== video section start here ======================================== */

.video_section {
    padding: 6rem 0rem 2rem 0rem;
}

.video_heading h2 {
    color: #448C7F;
    text-align: center;
    font-family: Titillium Web;
    font-size: 56px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 4rem;
    line-height: 75px;
}

.youtube_video iframe {
    border: 5px solid #448C7F;
    padding: 0;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ======================== video section end here ======================================== */

/* =======================  our clinic section start ===========================================  */
.clinic_heading h1 {
    color: #448C7F;
    text-align: center;
    font-family: Titillium Web;
    font-size: 96px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}

.clinic_bg {
    background-image: url(../img/Vector.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 3rem 0;
}

.clinic_heading {
    margin-top: 1rem;
}

.clinic_heading h2 {
    color: #185C50;
    font-family: Rufina;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

.clinic_txt2 {
    margin-top: 2rem;
}

.clinic_heading p {
    color: #000;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
}

.venue_heading h2 {
    color: #448C7F;
    font-family: Titillium Web;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 135.9%;
    text-transform: capitalize;
}

.venue_details {
    padding-top: 5rem;
}

.details_bx {
    text-align: center;
}

.venue_para p {
    color: #000;
    text-align: center;
    font-family: Titillium Web;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    text-transform: capitalize;
}

/* =======================  our clinic section end ===========================================  */


/* =======================  Blog section start ===========================================  */
.blog_heading h2 {
    color: #448C7F;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    text-transform: capitalize;
}

.blog_heading p {
    color: rgba(0, 0, 0, 0.49);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.27px;
    text-transform: capitalize;
}


.blog_txt {
    padding: 20px 5px;
    transition: all 0.5s;
}

.blog_card {
    border-radius: 16px;
    transition: all 0.5s;
}

.blog_bx,
.blog_s {
    border-radius: 16px;
    transition: all ease-in-out 0.5s;
}

.blog_bx:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.blog_card:hover .blog_txt {
    padding: 20px 10px;
}

.blog_txt h4 {
    color: #448C7F;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.blog_txt p {
    color: #737576;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

.m_blog_s {
    margin-top: 1rem;
}




/* =======================  Blog section end ===========================================  */




/* =======================  partnership section start ===========================================  */

.partner_heading h2 {
    color: #39CABB;
    font-family: Titillium Web;
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}

.partner_card {
    padding: 25px 45px;
    border-radius: 20px;
    background: #D2F3EF;
    text-align: center;
}

.partner_card.pad {
    padding: 53px 45px;
}

/* =======================  partnership section end ===========================================  */




/* footer section start */
footer {
    background: var(--theme-color);
}

.footer_about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_para {
    padding: 20px 0;
}

.footer_para p {
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}


.footer_social_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_social_icon span {
    background: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_social_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.footer_social_icon a {
    text-decoration: none;
}

.footer_social_icon span i {
    font-size: 1rem;
}


.Footer_links h2 {
    color: #FFF;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.8rem;
    position: relative;
    display: inline-block;
}

.Footer_links h2::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 48%;
    height: 2px;
    background-color: #fff;
}

.Footer_links ul {
    padding: 0;
}

.Footer_links ul li {
    list-style: none;
    margin-bottom: 5px;
}

.Footer_links ul li a {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;
}

.Footer_links ul li a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    background: #fff;
    width: 0%;
    height: 1px;
    transition: 0.5s;
}

.Footer_links ul li a:hover::after {
    width: 100%;
}

.copy_right {
    padding: 10px;
    text-align: center;
}

.copy_right p {
    margin: 0;
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

/* footer section end */


/* about page css start here  */

/* full body image */
.f_b_img {
    background: url(../img/full_b_image.png) no-repeat center center / cover;
}


/* This section is common in all pages */

/* about hero banner section start */

.common_hero_section {
    background: url(../img/common_bg.png) no-repeat center center / cover;
    background-color: var(--theme-color);
    position: relative;
}

.common_hero_heading h2 {
    color: #4A6F85;
    font-family: Rufina;
    font-size: 85px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}

.common_hero_heading p {
    color: #FFF;
    text-align: center;
    font-family: Titillium Web;
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0px 16rem;
}

.about_vector {
    position: absolute;
    bottom: -135px;
    right: 0px;
    width: 100%;
    height: 100%;
    text-align: right;
    padding-right: 43px;
}

.about_vector_services {
    position: absolute;
    bottom: -329px;
    right: 0px;
    width: 100%;
    height: 100%;
    text-align: right;
    padding-right: 43px;
}

/* about hero banner section end */



/* about section start */
.about_text p {
    color: #757575;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    text-transform: capitalize;
    padding-right: 5rem;
}


.about_txt p {
    color: #757575;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

/* about section end */


/* mission vision start  */


.m_v_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mission {
    border-radius: 0px 16px 203px 0px;
    background: #39CABB;
    width: 40%;
    padding: 20px 85px 5px 20px;
    text-align: left;
}

.vision {
    border-radius: 16px 0px 0px 203px;
    background: #39CABB;
    width: 40%;
    padding: 20px 10px 5px 50px;
    text-align: right;
}

.mission_content h2 {
    color: #FFF;
    font-family: Rufina;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    /* padding: 18px 30px; */
    text-align: right;
}

.mission_content p {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.vision_content h2 {
    color: #FFF;
    font-family: Rufina;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    /* padding: 18px 30px; */
    text-align: left;
}

.vision_content p {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

/* mission vision end */



/* This section is common in all pages */

.section-background {
    background: url(../img/common_hero.png) no-repeat center center / cover;
}



.service_section_heading h2 {
    color: #448C7F;
    text-align: center;
    font-family: Rufina;
    font-size: 64px;
    font-weight: 700;
    line-height: 150px;
    text-transform: capitalize;
    margin: 5px 0px 70px 0px;
}

.chsc_heading h2 {
    color: #448C7F;
    font-family: Titillium Web;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.chsc_heading p {
    color: #4E4E4E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.chsc_para p {
    color: #323232;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    margin: 0;
}

.floating_sticker {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 5px 4px 63px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0;
    top: 29%;
    transform: translate(-50%, 0%);
    padding: 15px;
    width: 150px;
    height: 160px;
}

.floating_sticker p {
    color: #448C7F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
}

/* This section is common in all pages */

/* common middle section start */

.common_heading h2 {
    color: #FFF;
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    /* padding-right: 8rem; */
}

.common_heading p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 205.023%;
    letter-spacing: 0.24px;
}

.appointment_btn {
    border-radius: 46.5px;
    background: #FFF;
    padding: 10px 10px;
    width: 40%;
    text-align: center;
}

.appointment_btn a {
    font-size: 1.5em;
    font-weight: 600;
    color: #4C626F;
    text-decoration: none;
    text-transform: capitalize;
}

/* common middle section end */


/* before after section start */
.client-review {
    padding: 5rem 0rem 5rem;
}

.client-review h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 2.5rem;
    line-height: 45px;
    color: #12ada9;
}

.client-review .client-slide {
    padding: 2rem 0rem;
}

.client-review .client-slide .client-image {
    min-height: 250px;
    display: flex;
}

.client-review .client-slide .owl-carousel .owl-nav button.owl-prev,
.client-review .client-slide .owl-carousel .owl-nav button.owl-next {
    background: 0 0;
    color: #fff;
    border: none;
    padding: 2px 10px 5px 10px !important;
    font: inherit;
    position: absolute;
    top: 32%;
    font-size: 40px;
    line-height: 30px;
    background-color: #12ada9;
}

.client-review .client-slide .owl-carousel .owl-nav button.owl-prev {
    left: -55px;
    display: none;
}

.client-review .client-slide .owl-carousel .owl-nav button.owl-next {
    right: -55px;
    display: none;
}


.client-review .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 6px;
    margin: 5px 7px;
    background: #D8D8D8;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.client-review .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #39CABB;
}

.client-review .owl-theme .owl-dots .owl-dot:hover span {
    background: rgb(11, 128, 87);
}


.ba_appoint_btn {
    padding: 20px 60px;
    font-size: 25px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-bottom: 22px;
    color: #FFF;
    background: #12ada9;
}

/* before after section end */


/* meet our team start */
.meetour h2 {
    color: #448C7F;
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/* meet our team end */


/* why choose us start */

.why-choose h2 {
    color: #448C7F;
    text-align: center;
    font-family: Rufina;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.why-1-content li {
    color: #595959;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 1.1rem;
}

.why-1-content li span {
    color: #448C7F;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/* why choose us end */


/* team start */
.team.content p {
    color: #2D2D2D;
    font-family: Titillium Web;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 172.023%;
    letter-spacing: 0.39px;
}

.team_member h2 {
    color: #448C7F;
    font-family: Titillium Web;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 157.687%;
    text-transform: uppercase;
}

.member p:nth-child(1) {
    color: #448C7F;
    font-family: Titillium Web;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.member p:nth-child(2) {
    color: #A8A8A8;
    font-family: Titillium Web;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 157.687%;
    text-transform: capitalize;
}

.member {
    position: relative;
}

.member::after {
    content: '';
    position: absolute;
    top: 0;
    left: -14px;
    width: 4px;
    height: 90%;
    background: #448c7f;
}

/* team end */


/* blog section start */
.b_heading h5 {
    color: #4C626F;
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: 700;
    line-height: 172.187%;
    margin: 0;
}

.b_sheading h2 {
    color: #448C7F;
    font-family: Titillium Web;
    font-size: 40px;
    font-weight: 700;
}

.b_para p {
    color: #787878;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.3px;
}


.b_l_heading h5 {
    color: #4C626F;
    font-family: Titillium Web;
    font-size: 16px;
    font-weight: 600;
    line-height: 172.187%;
    margin: 0;
}

.b_l_sheading h2 {
    color: #448C7F;
    font-family: Titillium Web;
    font-size: 22px;
    font-weight: 600;
}

.b_l_para p {
    color: #787878;
    font-size: 14px;
    font-weight: 400;
    line-height: 173.523%;
    /* 27.764px */
    letter-spacing: 0.24px;
}


/* blog side bar start */
.side_bar_container {
    display: flex;
    flex-direction: column;
}

.sidebar {
    text-decoration: none;
    margin-bottom: 2.5rem;
}

.side_bar_heading h2 {
    color: #448C7F;
    font-family: Titillium Web;
    font-size: 32px;
    font-weight: 700;
    line-height: 157.687%;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.sidebr_box {
    border-left: 5px solid #39CABB;
    padding: 5px 0px 5px 16px;
    border-radius: 3px;
}

.s_para p {
    color: #4C626F;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 172.187%;
}

.s_update p {
    color: #2C4857;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 172.187%;
}

.tag_bx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

.tag,
.s_tag {
    border-radius: 5px;
    background: #F8F8F8;
    padding: 8px 16px;
    color: #4E4E4E;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}


.social_heading h3 {
    color: #4C626F;
    font-family: Titillium Web;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 172.187%;
}

.social_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.social_icon a {
    font-size: 1.5rem;
}

/* blog side bar end */

.blog_view_section {
    padding-top: 8rem;
}

.view_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.view_txt h2 {
    color: #4B6C97;
    font-family: Titillium Web;
    font-size: 24px;
    font-weight: 700;
    line-height: 172.187%;
}

.view_txt p {
    color: #448C7F;
    font-family: Titillium Web;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

.view_social_links h3 {
    color: #4B6C97;
    font-family: Titillium Web;
    font-size: 16px;
    font-weight: 700;
    line-height: 172.187%;
    text-transform: uppercase;
}

.view_social_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}

.view_social_icon a {
    font-size: 1.5rem;
    color: #4B6C97;
}

.artical {
    padding: 3rem 0;
}

.artical p {
    color: #787878;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    /* 41.005px */
    letter-spacing: 0.3px;
}

.more_artical_content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

.more_artical_heading h2 {
    color: #448C7F;
    font-family: Titillium Web;
    font-size: 36px;
    font-weight: 700;
    line-height: 172.187%;
    /* 61.987px */
    margin-bottom: 1rem;
}

.more_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.time_bx {
    border-radius: 10px;
    background: #39CABB;
    padding: 10px 10px;
}

.time_bx p {
    margin: 0;
    color: #fff;
}

.texts p {
    margin: 0;
    color: #4B6C97;
    font-family: Titillium Web;
    font-size: 16px;
    font-weight: 700;
    line-height: 172.187%;
    /* 27.55px */
}

.texts h3 {
    color: #2C4857;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 172.187%;
    /* 34.437px */
}

/* blog section end */

/* contact page start */

.contact_page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background: #FFF;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    overflow: hidden;
}

.left {
    background: url(../img/contact.png) no-repeat center center / cover;
    width: 40%;
    height: 625px;
    padding: 30px;
    background-blend-mode: multiply, normal;
    border-radius: 0px 40px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.left_heading h2 {
    color: #FFF;
    font-family: Titillium Web;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-shadow: 0px 2px 8px #00000040;
    margin: 0;
}

.left_heading p {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left_num {
    color: #FFF;
    text-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.left_num a {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.right {
    width: 60%;
    height: 100%;
    padding: 3rem 4rem;
}

.contact_form .form-label {
    color: #448C7F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 142.857% */
}

.contact_form .form-control:focus,
.contact_form .form-select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #448C7F !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #448c7f86;
}

.contact_form .form-control,
.form-select {
    border-radius: 10px !important;
    border: 1px solid rgba(228, 228, 228, 0.90) !important;
    background: #FFF !important;
}

.contact_form .form-check-label {
    color: #787878;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact_form .intl-tel-input {
    position: relative;
    display: block;
}

.contact_us_button {
    width: 100%;
    background: #39CABB !important;
    border: #39CABB !important;
    padding: 0.7rem !important;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    /* 242.857% */
}

.contact_us_button:hover {
    background: #188277 !important;
    border: #188277 !important;
}


/* contact page end */


.nav_bg .offcanvas-header {
    background: #39cabb;
}

/* blog section */

.blog_s {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.b_content {
    margin-left: 1rem;
}

.b_content h2 {
    color: #448C7F;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.b_content p {
    color: #737576;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

/* blog section */